@charset "UTF-8";
/*
작성자 :신민경
작성일 : 2020-09-08
수정일 : 
*/

/*font*/
/* font-face 샘플

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local('notokr-light');
  src: url('/css/font/notokr-thin.eot');
  src: url('/css/font/notokr-thin.eot?#iefix') format('embedded-opentype'),
      url('/css/font/notokr-thin.woff2') format('woff2'),
      url('/css/font/notokr-thin.woff') format('woff');
}

*/

/*웹폰트의 경우*/
/*@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo|Noto+Sans+KR');*/

/*reset*/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea{margin:0; padding:0;}
hr{display:none;}
ul, ol, li{list-style:none;}
img, fieldset{border:none; vertical-align:middle;}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:800; font-family:'Pretendard','Nanum Gothic', 'Malgun Gothic', '맑은고딕', 'Dotum', '돋움', 'Montserrat', 'Arial', 'sans-serif';}
table{border-collapse:collapse; font-size:100%;}
address, em, optgroup{font-style:normal;}
object{vertical-align:top;}
input, button, select{vertical-align:middle;}
article, aside, details, figcaption, figure, footer, header, nav, section{display:block;}
audio, canvas, progress, video{display:inline-block;}
button{padding:0; box-shadow:none; border:none; font-size:16px; font-family:'Pretendard','Nanum Gothic', 'Malgun Gothic', '맑은고딕', 'Dotum', '돋움', 'Montserrat', 'Arial', 'sans-serif'; border-radius:0;}
button:hover,
button:active,
button:focus{cursor:pointer;}
input[type="radio"], input[type="checkbox"]{height:14px; width:14px; vertical-align:middle;}

/*linkstyle*/
a{color:#333; text-decoration:none; background-color:transparent;} /** IE10에서 활성화(active)된 링크의 회색 배경을 제거. */
a:active,
a:focus,
a:hover{text-decoration:none;}
a[href^="tel"] {color:inherit; text-decoration:none;}

::-webkit-input-placeholder{color:rgba(0,0,0,0.4);}
:-ms-input-placeholder{color:rgba(0,0,0,0.4);}
::placeholder{color:rgba(0,0,0,0.4);}
::selection{background:yellow; color:#333;}


/*font*/
html,body{color:#333; font-size:16px; font-weight:200; letter-spacing:-1px; -webkit-text-size-adjust:100%; font-family:'Pretendard','Nanum Gothic', 'Malgun Gothic', '맑은고딕', 'Dotum', '돋움', 'Montserrat', 'Arial', 'sans-serif';}
input, select, textarea{color:#333; background:#fff; font-size:16px; font-family:'Pretendard','Nanum Gothic', 'Malgun Gothic', '맑은고딕', 'Dotum', '돋움', 'Montserrat', 'Arial', 'sans-serif'; border-radius:0;}
input[type="text"],input[type="password"],input[type="number"],select{}
input[type="text"],input[type="password"],input[type="number"],textarea{ 
-webkit-ime-mode:active; 
-moz-ime-mode:active; 
-ms-ime-mode:active; 
ime-mode:active; 
box-sizing:border-box; -webkit-appearance:none;
}




