@charset "utf-8";
*{ margin: 0; padding: 0; font-weight: normal; }
body{background-color: ; color: #000; font-size: 16px;}
li{ list-style: none;}
a{ text-decoration: none;}
a:hover{ text-decoration: none;}


/* 대시보드 세로 스크롤숨김 */

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/*전체 구조*/
.wrapper { max-width: 100%; min-width: 1920px; height: 100%; overflow-y: auto}


/*header 레이아웃-width/height/padding/display*/
.header { width: 100%; height: 62px; padding-left: 15px; padding-right: 32px; }
.header nav { display: inline-block;}
.header-item { padding-left:5px; padding-right: 5px; height: 63px; }

/*header 스타일-background-color/opacity/font/lineheight*/
.header {background-color: #3F4157;}
.header nav {vertical-align: top; }
.header-item { opacity: 0.6; font-size: 45px; line-height: 68px; color: #fff }
.header-item.active { opacity: 1;}
.header-item.active:hover { opacity: 1;}
.header-item:hover{opacity: 0.8; color:#Fff}




/*profileNav*/
.profile_nav { float: right; font-size: 14px; }
.profile_nav a{ padding-top: 10px; padding-bottom: 10px; line-height: 63px; color: #fff}
.profile_nav a>span{ border-right: 1px solid #fff; padding-left: 6px; padding-right: 9px; display: inline-block; height: 13px; line-height: 13px; }



/*title*/
.title { text-align: center ; color: #707070; padding-top: 15px;padding-bottom: 10px;}
.title .btn-group button {width: 156px; height: 56px; background-color: #F5F6F9; border-color: #F1F1F1; color: #999CAB; font-size: 22px; border-radius: 5px; }
.title .btn-group button:hover {background-color: #DCDFE9; border-color: #D4D8E5}
.title .btn-group button.active {border-color: #8A78CC; color: #fff; font-weight: bold; background-image: url(../../img/metro/title_btn_bg.png);background-repeat: repeat-x; background-position: left; cursor: default;}



/*card(공통)*/ 
.card { padding: 0; margin-bottom: 16px; background-color: transparent; border: 1px solid #D3D2D2; }
.card-header {background-color: transparent; padding: 16px 16px 12px 16px; font-weight: bold; border: 0; font-size: 20px;}
.card-body { padding: 15px 19px; font-size: 14px; }
.card-footer { background-color: transparent; padding: 0 19px 15px 19px; border-top: 0; }
.card p{ font-size: 16px; margin-bottom: 5px;}







/*card(map) 구조*/
.card.map {height: 249px;}

.card.map .card-header p{display: inline-block; font-size: 12px; margin-right: 20px;}
.card.map .card-header p>span {padding: 0 8px;}
.card.map .card-header p>span img {margin-right: 3px;}

.card.map .card-body {padding: 0px 24px 15px 24px;}
.card.map .card-body>div {width:1842px; height: 100%;}


/*미세먼지 농도 범례*/
.card.map .card-header button {font-size: 12px;display: inline-block; width: 135px; height: 30px; line-height: 28px; color: #808080; border: 1px solid #D9DDE6; background-color: #fff; padding: 0 0 0 10px;text-align: left; background-image: url(../../img/metro/index_info_bg.png); background-repeat: no-repeat;background-position: right top;font-family: "Roboto", "Segoe UI", sans-serif;}
.standard_txt {display: none; position: absolute; top:0; left: 100%; min-width: 538px;background-color: #fff; border:1px solid #000; z-index: 1000; box-shadow: 0 0 6px rgba(0,0,0,0.2); padding: 12px; margin-left: 18px; z-index:1001}
.standard_txt p {padding: 0; font-size: 14px;}
.standard_txt ul {padding: 10px 0 12px 0; margin: 0;}
.standard_txt li {margin: 0 8px; font-size: 12px}
.standard_txt li span{font-size: 14px;}
.standard_txt .close {font-size: 1rem; padding: 10px 10px!important; margin: -12px -10px 0 0;}
.standard_txt li>span>img{margin-right:5px}


/*기준*/
.line_origin {width: 1841px; height: 6px; background-color: #ddd; position: relative;}
.line_origin span.start,.line_origin span.end {display: inline-block; width: 56px; height: 27px; border-radius: 4px; background-color: #E63749; position: absolute;margin-top: -10.5px;z-index: 5;color: #fff;text-align: center;line-height: 27px;font-size: 14px;}
.line_origin span.start {left: 0;}
.line_origin span.end {right: 0;}


/*지하철 라인*/
.line_cont {width: 100%; height: 100%; position: relative;}
/* .line {width:76px; height: 6px; background-color: #D6D6D6; position: absolute;}
.line.active {background-color: #2FA143}
 */
 
/*지하철 역*/
.point_cont {width: 100%; height: 100%; position: relative; margin-top: -6px;}
.point {width:12px;height: 12px; border-radius: 50%; border: 2px solid #D6D6D6; margin-top: -3px; margin-left: -6px;background-color: #fff;box-sizing: border-box; position: absolute; z-index: 3; font-size:0px;}
.point.active {border: 2px solid #CD2234;}

/*지하철 역사명*/
.name_cont {width: 100%; position: relative;margin-top:33px;}
.name {position: absolute; transform: translate(-50%,0);line-height: 1}



/*PM2.5, PM10 공통(지표)*/
.index {background-image: url(../../img/metro/index_good.png);;display: inline-block; width: 36px; height:44px; background-repeat: no-repeat; background-size: auto; background-position: center; font-size: 14px; transform: translate(-50%,0); position:absolute; z-index: 500; box-sizing: border-box; cursor : pointer;user-select:none;}
.index>span {display: inline-block;width:100%;text-align: center;}


/*PM2.5*/
.pm25_cont {width: 100%; position: relative;}
.pm25_cont span.pm25_label{color: #6D6F7A;position: absolute; bottom: 35px; left:0}
.pm25_cont .index {visibility: hidden; padding-top: 6px; bottom: 10px; }
.pm25_cont .index.active{visibility: visible}


.pm25_cont .index.good {background-image: url(../../img/metro/index_good.png)!important;}
.pm25_cont .index.normal { background-image: url(../../img/metro/index_normal.png)!important;}
.pm25_cont .index.bad {background-image: url(../../img/metro/index_bad.png)!important;}
.pm25_cont .index.error {background-image: url(../../img/metro/index_error.png)!important; color: transparent!important;}


/* 범례변경 2021.04.14
.pm25_cont .index.good {background-image: url(../../img/metro/index_good.png)!important;color: #FCFCFC}
.pm25_cont .index.good span {color:#fff!important;color: #FCFCFC}
.pm25_cont .index.normal { background-image: url(../../img/metro/index_normal.png)!important;}
.pm25_cont .index.bad {background-image: url(../../img/metro/index_bad.png)!important;}
.pm25_cont .index.toobad {background-image: url(../../img/metro/index_toobad.png)!important;;color: #FCFCFC}
.pm25_cont .index.toobad span {color:#fff!important;color: #FCFCFC}
.pm25_cont .index.error {background-image: url(../../img/metro/index_error.png)!important; color: transparent!important;}
 */
/*PM10*/
.pm10_cont {width: 100%; position: relative; margin-top: 18px;}
.pm10_cont span.pm10_label{color: #6D6F7A;position: absolute; top: -5px; left:0px;}
.pm10_cont .index {visibility: hidden; padding-top: 14px; top: 0px; }
.pm10_cont .index.active{visibility: visible}
.pm10_cont.invisible .index.active {visibility: hidden}
.pm10_cont .index {background-image: url(../../img/metro/index_dw_good.png)!important;}
.pm10_cont .index.good {background-image: url(../../img/metro/index_dw_good.png)!important;}
.pm10_cont .index.normal { background-image: url(../../img/metro/index_dw_normal.png)!important;}
.pm10_cont .index.bad {background-image: url(../../img/metro/index_dw_bad.png)!important;}
.pm10_cont .index.error {background-image: url(../../img/metro/index_dw_error.png)!important; color: transparent!important;}







/*좌표*/

/* .point_cont .point:nth-child(1), .name_cont .name:nth-child(1), .pm25_cont .index:nth-child(1), .pm10_cont .index:nth-child(1){left: 131.5px;}
.point_cont .point:nth-child(2), .name_cont .name:nth-child(2), .pm25_cont .index:nth-child(2), .pm10_cont .index:nth-child(2) {left: 263px;}
.point_cont .point:nth-child(3), .name_cont .name:nth-child(3), .pm25_cont .index:nth-child(3), .pm10_cont .index:nth-child(3) {left: 394.5px}
.point_cont .point:nth-child(4), .name_cont .name:nth-child(4), .pm25_cont .index:nth-child(4), .pm10_cont .index:nth-child(4) {left: 526px}
.point_cont .point:nth-child(5), .name_cont .name:nth-child(5), .pm25_cont .index:nth-child(5), .pm10_cont .index:nth-child(5) {left: 657.5px}
.point_cont .point:nth-child(6), .name_cont .name:nth-child(6), .pm25_cont .index:nth-child(6), .pm10_cont .index:nth-child(6) {left: 789px}
.point_cont .point:nth-child(7), .name_cont .name:nth-child(7), .pm25_cont .index:nth-child(7), .pm10_cont .index:nth-child(7) {left: 920.5px}
.point_cont .point:nth-child(8), .name_cont .name:nth-child(8), .pm25_cont .index:nth-child(8), .pm10_cont .index:nth-child(8) {left: 1052px}
.point_cont .point:nth-child(9), .name_cont .name:nth-child(9), .pm25_cont .index:nth-child(9), .pm10_cont .index:nth-child(9) {left: 1183.5px}
.point_cont .point:nth-child(10), .name_cont .name:nth-child(10), .pm25_cont .index:nth-child(10), .pm10_cont .index:nth-child(10) {left: 1315px}
.point_cont .point:nth-child(11), .name_cont .name:nth-child(11), .pm25_cont .index:nth-child(11), .pm10_cont .index:nth-child(11) {left: 1446.5px}
.point_cont .point:nth-child(12), .name_cont .name:nth-child(12), .pm25_cont .index:nth-child(12), .pm10_cont .index:nth-child(12) {left: 1578px}
.point_cont .point:nth-child(13), .name_cont .name:nth-child(13), .pm25_cont .index:nth-child(13), .pm10_cont .index:nth-child(13) {left: 1709.5px}

.point_cont .point:nth-child(1).active:before{background-color: #CD2234;}
.point_cont .point:nth-child(13).active:after{background-color: #CD2234;} 

.point_cont .point:before{content: ''; display: inline-block;width: 120px;height: 6px; background-color:#D6D6D6; transform: translateX(-121.5px) translateY(1px);}
.point_cont .point:after{content: '';display: inline-block;width: 118.5px;height: 6px; background-color: #D6D6D6; transform: translateX(9.5px) translateY(-5px);position: absolute; z-index: 2}
*/

/* 좌표 2020.05.18 : 역사 3개 추가 */
.point_cont .point:nth-child(1), .name_cont .name:nth-child(1), .pm25_cont .index:nth-child(1), .pm10_cont .index:nth-child(1){left: 110.5px;}
.point_cont .point:nth-child(2), .name_cont .name:nth-child(2), .pm25_cont .index:nth-child(2), .pm10_cont .index:nth-child(2) {left: 218.5px;}
.point_cont .point:nth-child(3), .name_cont .name:nth-child(3), .pm25_cont .index:nth-child(3), .pm10_cont .index:nth-child(3) {left: 326.5px}
.point_cont .point:nth-child(4), .name_cont .name:nth-child(4), .pm25_cont .index:nth-child(4), .pm10_cont .index:nth-child(4) {left: 434.5px}
.point_cont .point:nth-child(5), .name_cont .name:nth-child(5), .pm25_cont .index:nth-child(5), .pm10_cont .index:nth-child(5) {left: 542.5px}
.point_cont .point:nth-child(6), .name_cont .name:nth-child(6), .pm25_cont .index:nth-child(6), .pm10_cont .index:nth-child(6) {left: 650.5px}
.point_cont .point:nth-child(7), .name_cont .name:nth-child(7), .pm25_cont .index:nth-child(7), .pm10_cont .index:nth-child(7) {left: 758.5px}
.point_cont .point:nth-child(8), .name_cont .name:nth-child(8), .pm25_cont .index:nth-child(8), .pm10_cont .index:nth-child(8) {left: 866.5px}
.point_cont .point:nth-child(9), .name_cont .name:nth-child(9), .pm25_cont .index:nth-child(9), .pm10_cont .index:nth-child(9) {left: 974.5px}
.point_cont .point:nth-child(10), .name_cont .name:nth-child(10), .pm25_cont .index:nth-child(10), .pm10_cont .index:nth-child(10) {left: 1082.5px}
.point_cont .point:nth-child(11), .name_cont .name:nth-child(11), .pm25_cont .index:nth-child(11), .pm10_cont .index:nth-child(11) {left: 1190.5px}
.point_cont .point:nth-child(12), .name_cont .name:nth-child(12), .pm25_cont .index:nth-child(12), .pm10_cont .index:nth-child(12) {left: 1298.5px}
.point_cont .point:nth-child(13), .name_cont .name:nth-child(13), .pm25_cont .index:nth-child(13), .pm10_cont .index:nth-child(13) {left: 1406.5px}
.point_cont .point:nth-child(14), .name_cont .name:nth-child(14), .pm25_cont .index:nth-child(14), .pm10_cont .index:nth-child(14) {left: 1514.5px}
.point_cont .point:nth-child(15), .name_cont .name:nth-child(15), .pm25_cont .index:nth-child(15), .pm10_cont .index:nth-child(15) {left: 1622.5px}
.point_cont .point:nth-child(16), .name_cont .name:nth-child(16), .pm25_cont .index:nth-child(16), .pm10_cont .index:nth-child(16) {left: 1730.5px}

.point_cont .point:nth-child(1).active:before{background-color: #CD2234;}
.point_cont .point:nth-child(16).active:after{background-color: #CD2234;}

.point_cont .point:before{content: ''; display: inline-block;width: 93px;height: 6px; background-color:#D6D6D6; transform: translateX(-94.5px) translateY(1px);}
.point_cont .point:after{content: '';display: inline-block;width: 93px;height: 6px; background-color: #D6D6D6; transform: translateX(9.5px) translateY(-5px);position: absolute; z-index: 2}

.point_cont .point.activeL:before{background-color: #CD2234;}
.point_cont .point.activeR:after{background-color: #CD2234;}


/*card(state)*/
.card.state {height: 272px;}
.card.state .card-header>span {font-size: 26px; font-weight: inherit}


/*PM2.5/10 전환버튼*/
.card.state .card-header .btn-group{vertical-align: top;}
.card.state .btn-group button {width: 118px; height: 43px; font-size: 16px; background-color: #F5F6F9; border-color: #F1F1F1; color: #BABFCE; }
.card.state .btn-group button:hover { background-color: #DCDFE9; border-color: #D4D8E5 }
.card.state .btn-group button.active { background-color: #B0A1E6; border-color:#8F7AD9; color: #fff; cursor: default; }



.card.state .card-body {padding: 0px 20px;}
.card.state .card-body .box_title{font-size: 13px; font-weight: bold}
.card.state .card-body .box_title span{font-size: inherit;font-weight: bold;}

/*미세먼지 정보*/
.card.state .card-body .box_measure {min-width:558px;}
/*초미세먼지, 미세먼지 일때*/
.card.state .card-body .box_measure.pm25 .toggle_tit:before {content: '초';}
.card.state .card-body .box_measure.pm25 .toggle_pm:after {content: '2.5';}
.card.state .card-body .box_measure.pm10 .toggle_tit:before {content: '';}
.card.state .card-body .box_measure.pm10 .toggle_pm:after {content: '10';}

.card.state .card-body .box_measure .box_inner {margin-top: 30px;}
.card.state .card-body .box_measure .box_inner>div {background-color: #F7F8F9; width: 113px; height: 113px; border-radius: 15px; padding: 6.5px 12px 12px 8.5px;margin-right: 35px;margin-bottom: 0;background-position: left top; background-repeat: no-repeat;}
.m5 {background-image: url(../../img/metro/5m_b.png)}
.h1 {background-image: url(../../img/metro/1h_b.png)}
.h2 {background-image: url(../../img/metro/2h_b.png)}
.h24 {background-image: url(../../img/metro/24h_b.png)}
.d1 {background-image: url(../../img/metro/1d_b.png)}
/*수치값 style*/
.card.state .card-body .box_measure .box_inner>div>span {font-size: 53px;display: inline-block;width: 100%; text-align: right; ; height: 48px;line-height: 48px;}

/* .card.state .card-body .box_measure .box_inner.pm10>div{background-color:#e2ecfd!important}
.card.state .card-body .box_measure .box_inner.pm10 .m5{background-image: url(../../img/metro/5m_pm.png)!important}
.card.state .card-body .box_measure .box_inner.pm10 .h1 {background-image: url(../../img/metro/1h_pm.png)!important}
.card.state .card-body .box_measure .box_inner.pm10 .h24 {background-image: url(../../img/metro/24h_pm.png)!important}
.card.state .card-body .box_measure .box_inner.pm10 .d1 {background-image: url(../../img/metro/1d_pm.png)!important} */

/*미세먼지 그래프*/
.card.state .card-body .box_graph {width: 100%; padding-left: 95px;}
.card.state .card-body .box_graph .box_inner {width: 1169px;height: 165px}

/*title 동그라미*/
.circle:before {content: ''; width: 10px; height: 10px; display: inline-block; border: 2px solid #8B89CF; border-radius: 50%; margin-right: 8px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);}





/*card(station)*/
.card.station {border: 0}
.card.station .card-header {font-size: 15px; color: #868B8F; font-weight: normal; padding: 2px 0 16px 0;}
.card.station .card-header .line1 {display: inline-block; width: 60px; height: 6px; border-radius: 50px; background-color: #CD2234; margin:0 2px 2px 0;}
.card.station .card-body {padding: 0}

/*미세먼지 정보 패널*/
.box_station {font-size: 0;}
.box_station>div.pannel:nth-child(8) {margin-right: 0;}
.box_station>div.pannel:nth-child(16) {margin-right: 0;}
.box_station>div.pannel:nth-child(24) {margin-right: 0;}



.pannel { width: 211.5px;height: 96.5px; position: relative; padding: 11px 0 0 0;margin-bottom: 18px;margin-right: 28px; display: inline-block; margin-left: 0px;}
.pannel .color{position: absolute; left: 15px;border-radius: 5px;}
.pannel .color.large {top: 0; width: 64px; height: 58px; text-align: center; box-shadow: 10px 15px 25px rgba(0,0,0,0.05); cursor:pointer;}
.pannel .color.large>span {font-size: 32px; color: #fff; display: inline-block;height: 58px; line-height: 58px; width: 100%;text-align: center;}


.pannel .color.small {min-width: 65px; height: 22px;;border: 2px solid rgba(255,255,255,0.25); bottom: 10px; padding-left: 40px; padding-right: 5px; background-image: url(../../img/metro/pannel_label.png);background-position: left center; background-repeat: no-repeat; cursor:pointer;}
.pannel .color.small>span {font-size: 14px;color: #fff; display: inline-block;height: 22px; line-height: 20px;text-align: right;width: 100%;}


.pannel_inner {width: 100%;height: 100%; border: 1px solid #D3D2D2; border-radius: 3px; padding: 9px 12px 10px 85px;background-image: url(../../img/metro/pannel_bg_dxline.png);background-repeat: repeat-y;background-position: left top; text-align: right}

.pannel_inner .station_name {display: inline-block;width: 100%; max-height: 44px; ;font-size: 16px; letter-spacing: -2px;padding: 0;line-height: 1.1}
.pannel_inner .state {font-size: 20px;}

/*장비상태 : 210414 추가 */
.device_status {position:absolute; top:65px;left:15px;display:inline-block;width:64px;font-size:14px;color:#FF7133;text-align:center}
.device_status.disabled{display:none}

/*범례 4단계에서 3단계로 변경 */
/* 
.pannel.good .color { background-color: #2d6be6; }
.pannel.good .state { color: #2d6be6; }
.pannel .color.small.good {background-color: #2d6be6}

.pannel.normal .color { background-color: #01b56e; }
.pannel.normal .state { color: #01b56e; }
.pannel .color.small.normal {background-color: #01b56e}

.pannel.bad .color { background-color: #F5C932; }
.pannel.bad .state { color: #F5C932; }
.pannel .color.small.bad {background-color: #F5C932}

.pannel.toobad .color { background-color: #DA3539; }
.pannel.toobad .state { color: #DA3539; }
.pannel .color.small.toobad {background-color: #DA3539} */

/*좋음*/
.pannel.good .color { background-color: #2E98D5; }
.pannel.good .state { color: #2E98D5; }
.pannel .color.small.good {background-color: #2E98D5}

/*보통*/
.pannel.normal .color { background-color: #54B948; }
.pannel.normal .state { color: #54B948; }
.pannel .color.small.normal {background-color: #54B948}

/*관리필요*/
.pannel.bad .color { background-color: #F37021; }
.pannel.bad .state { color: #F37021; }
.pannel .color.small.bad {background-color: #F37021}

/*통신오류*/
.pannel.error .color { background-color: #D1D3D4; }
.pannel.error .state { color: #D1D3D4; }
.pannel .color.small.error { background-color: #D1D3D4; }

/* 알람 */
.alarm_cont {display:none;position: absolute;bottom: 30px; right: 38px; height: 0;flex-direction: column-reverse; z-index: 10000; }

.alarm {width: 454px; min-height: 88px; border-radius: 3px; border: 1px solid #B8B9BA; box-shadow: 0px 0px 10px rgba(99,102,119,0.3); background-color: #fff; padding: 16px 15px 16px 86px; display: flex; background-image: url(../../img/metro/bg_alarm.png), url(../../img/metro/ic_alarm.png); background-position: left top, 24px center; background-repeat: repeat-y, no-repeat;margin-top: 10px}
.alarm>div{width: 335px; flex: 1 1 335px; padding-right: 10px;}
.alarm p{font-size: 20px; color: #000; font-weight: bold; margin-bottom: 2px;}
.alarm span {font-size: 16px; color: #787A88; }
.alarm span.close {padding: 10px; font-size: 22px;}

