@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?qa13bz');
  src:  url('./fonts/icomoon.eot?qa13bz#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?qa13bz') format('truetype'),
    url('./fonts/icomoon.woff?qa13bz') format('woff'),
    url('./fonts/icomoon.svg?qa13bz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-m-dashboard:before {
  content: "\e905";
}
.icon-m-event:before {
  content: "\e906";
}
.icon-m-install:before {
  content: "\e907";
}
.icon-m-monitor:before {
  content: "\e908";
}
.icon-m-more:before {
  content: "\e909";
}
.icon-ic_dashboard:before {
  content: "\e900";
}
.icon-ic_data:before {
  content: "\e901";
}
.icon-ic_monitor:before {
  content: "\e902";
}
.icon-ic_report:before {
  content: "\e903";
}
.icon-ic_settings:before {
  content: "\e904";
}
